.card-container {
  position: relative;
  width: 85.6mm;
  height: 53.98mm;
  border-radius: 10px;
  z-index: 2;
  margin: 0 auto;
  padding: 30px 0;
  margin-bottom: -100px;
}

.card {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  cursor: pointer;
}

/* .card:hover {
  transform: rotateY(180deg);
} */

.card.isFlipped {
  transform: rotateY(180deg);
}

.card--front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-color: #6b3fa0;
  background-image: linear-gradient(to bottom right, #6b3fa0, #a46dff);
  color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.card__static,
.card__info {
  display: flex;
  justify-content: space-between;
}

.card__number {
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 1.5rem;
  letter-spacing: 5px;
  /* border: 1px dashed #fff; */
}

.card__chip,
.card__logo,
.card__holder,
.card__expiration {
  padding: 20px 20px 0px 20px;
  font-size: 1rem;
}

.card__holder--text {
  font-size: 1.5rem;
}

.card__expiration--desc {
  display: block;
}

.card__expiration--detail__m,
.card__expiration--detail__y {
  display: inline;
  font-size: 1.5rem;
}

.card--back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-color: #6b3fa0;
  background-image: linear-gradient(to bottom right, #6b3fa0, #a46dff);
  color: #fff;
  transform: rotateY(180deg);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.card__stripe {
  width: 100%;
  height: 10mm;
  margin: 20px 0 10px 0;
  background-color: #000;
}

.card__cvv {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 10px;
}

.card__cvv--desc {
  font-size: 1rem;
}

.card__cvv--num {
  font-size: 1.5rem;
  color: #000;
  background-color: #fff;
  align-self: stretch;
  text-align: right;
}

.card__cvv--logo {
  font-size: 1.5rem;
  padding-top: 30px;
}

@media (min-width: 600px) {
  .card-container {
    width: calc(85.6mm * 1.3);
    height: calc(53.98mm * 1.3);
    margin-bottom: -120px;
  }
}
